 
.flex{
    display:flex;
    justify-content: space-between;
}

.nav-links{
    display:none;
}
.nav-links a{  
    text-decoration: none;
    color: black;
    margin-left: 10px;
}

 
.toggle:checked ~ .nav-links {
    display: flex;
}